video{
 width: 100%;
 height:100%;
 object-fit: cover;
 position:relative;
    z-index:0;
}

.content{
 width: 100%;
 height:100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color: white; 
 position:absolute;
 top: 360vh;
 left:0;
 z-index:1;
}.content p{
 font-size: 70px;
}